.pop-up__image{
    display: none;
    z-index: 3;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    height: 200vh;
    justify-content: center;
    align-items: center;
    opacity: 0;
    -webkit-transition: opacity 500ms ease-in-out;
    transition: visibility .3s, opacity .3s ease;

}
