.place__button-delete{
    width: 18px;
    height: 19px;
    position: absolute;
    top: 20px;
    right: 20px;
    background-image: url(../../../images/Trash.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: opacity 0.4s linear;
    cursor: pointer;
}
