.header__logo {
    position: relative;
    justify-self: flex-start;
    margin-bottom: 41px;
    margin: 0;
    max-width: 143px;
    max-height: 30px;
    
    
}

@media (max-width: 891px) {
    .header__logo{
        margin-top: 28px;
        margin-left: 27px;
    }
}