.pop-up_type_user {
    display: none;
    z-index: 3;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    height: 200vh;
    justify-content: center;
    align-items: center;
}
