.pop-up__button-close{
    background-image: url(../../../images/Close_Icon.svg);
    background-size: cover;
    background-color: transparent;
    color: white;
    width: 32px;
    height: 32px;
    border: none;
    position: absolute;
    top: -40px;
    right: -40px;
    left: auto;
    transform: none;
    cursor: pointer;
}

@media (max-width: 560px){
    .pop-up__button-close{
        width: 20px;
        height: 20px;
        top: -40px;
        right: 0;
        
    }
}

.pop-up__button-close:hover{
    opacity: 0.6;
}
