.image__btn-close{
    background-image: url(../../../../images/Close_Icon.svg);
    background-size: cover;
    background-color: transparent;
    color: white;
    width: 32px;
    height: 32px;
    border-radius: 0;
    border: none;
    position: absolute;
    top: -40px;
    right: -40px;
    left: auto;
    transform: none;
            
}
    
@media (max-width: 560px){
    .mage__btn-close{
        width: 20px;
        height: 20px;
        top: -40px;
        right: 0;
            
    }
}
    
.mage__btn-close:hover{
    opacity: 0.6;
}
