.place__like-button {
    width: 22px;
    height: 19px;
    align-self: center;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    color: #000;
    z-index: 1;
    background-image: url(../../../images/like__button.svg);
}
.place__like-button:hover{
    opacity: 0.5;
}
