    .big-image__container{
    border-radius: 10px;
    display: flex;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    margin-left: 75%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 25px rgb(0 0 0 / 15%);
    }

    @media (max-width: 820px){
        .big-image__container{
            margin-top: 0;
    
        }
    }
    
    @media (max-width: 560px){
        .big-image__container{
            width: 282px;
            margin-top: 95%;
    
        }
    }
