.profile__bio {
    font-family: Inter;
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 122%;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-decoration: none;
}

@media (max-width:580px) {
    .profile__bio{
        font-size: 14px;
        margin-bottom: 36px;

    }
}
