.pop-up__caption {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    margin: 0;
    position: absolute;
    bottom: -22px;
    left: 0;
}

@media (max-width: 320px){
    .pop-up__caption{
    margin-left: 20px;
    }
}
